/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf");
}
@font-face {
  font-family: "Satoshi-light";
  src: url("./fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf");
}

@font-face {
  font-family: "Satoshi-normal";
  src: url("./fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf");
}
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Merriweather-Bold";
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Merriweather-light";
  src: url("./fonts/Merriweather/Merriweather-Light.ttf");
}

:root {
  font-family: "Satoshi", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.fluid-text {
  font-size: clamp(3rem, 26vw, 10rem);
}

.delivery {
  background-image: url("/src/assets/handshake.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #1612127a;
}

.slick-slider {
  width: 280px;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  .fluid-text {
    font-size: clamp(3rem, 26vw, 13rem);
  }
}

@media screen and (min-width: 768px) {
  .slick-slider {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .slick-slider {
    width: 500px;
  }
}

@media screen and (min-width: 1300px) {
  .slick-slider {
    width: 800px;
  }
}
